Repository chav-aniket/project-hermes: changes, and which lefthook commands are due for each by the changed paths.
All: oxfmt, oxlint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
pre-commit:
  parallel: true
  commands:
    oxfmt:
      glob: "*.{js,ts,jsx,tsx,json}"
      env:
        PATH: $HOME/.bun/bin:$PATH
      run: bun oxfmt {staged_files} && git update-index --again
    oxlint:
      glob: "*.{js,ts,jsx,tsx,astro,svelte}"
      env:
        PATH: $HOME/.bun/bin:$PATH
      run: bun oxlint --fix {staged_files} && git update-index --again

Add frontend polish and improve resilience
  bun.lockb
  package.json
  src/components/astro/Nav.astro
  src/components/astro/Repo.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/utils/github.ts
Due: oxfmt, oxlint

Add error handling for GitHub API and upgrade Octokit
  .gitignore
  lefthook.yml
  src/pages/archive.astro
Due: oxlint

Add frontend polish and improve resilience (#158)
  .gitignore
  bun.lockb
  lefthook.yml
  package.json
  src/components/astro/Nav.astro
  src/components/astro/Repo.astro
  src/layouts/Layout.astro
  src/pages/archive.astro
  src/pages/index.astro
  src/utils/github.ts
Due: oxfmt, oxlint

Fix broken theme initialization and improve architecture
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Remove duplicate theme init and add missing Tailwind colors
  src/components/svelte/ThemeToggle.svelte
  tailwind.config.ts
Due: oxfmt, oxlint

Fix broken theme initialization and improve architecture (#159)
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Fix theme toggle not syncing with actual page theme
  src/utils/theme.ts
Due: oxfmt, oxlint

Fix theme toggle not syncing with actual page theme (#160)
  src/utils/theme.ts
Due: oxfmt, oxlint

Complete PWA setup and add new eclipse favicon
  astro.config.mjs
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-48x48.png
  public/favicon.svg
  public/mask-icon.svg
  public/robots.txt
  src/layouts/Layout.astro
Due: oxlint

Complete PWA setup and add new eclipse favicon (#161)
  astro.config.mjs
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-48x48.png
  public/favicon.svg
  public/mask-icon.svg
  public/robots.txt
  src/layouts/Layout.astro
Due: oxlint

Fix dynamic theme-color for iOS status bar on toggle
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Update CLAUDE.md with theme system and debugging notes
  CLAUDE.md
Due: none

Fix dynamic theme-color for iOS status bar (#162)
  CLAUDE.md
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Add theme transition wash animations
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Improve theme transitions with sunrise/sunset colors
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Use overlay for desktop transitions to cover all components
  src/layouts/Layout.astro
Due: oxlint

Add three-phase theme transition (melt, transition, reveal)
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Speed up transitions and add blur/scale depth effects
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Implement 4-phase theme transition at 400ms each
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Add gradient sweep for color transition
  src/layouts/Layout.astro
  tailwind.config.ts
Due: oxfmt, oxlint

Improve transitions: 600ms phases, stronger shadows, visible sweep
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Fix shadows: container shadows for cards/pills, text shadows for headings
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Consistent shadows on cards, pills/tags, and headings
  src/layouts/Layout.astro
Due: oxlint

Enhance theme transition with pauses, colorful gradients, and synced toggle
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Refactor: DRY CSS with :is() selectors and unified variables
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  tailwind.config.ts
Due: oxfmt, oxlint

Add theme transition wash animations (#163)
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  src/utils/theme.ts
  tailwind.config.ts
Due: oxfmt, oxlint

Change desktop theme animation to arc sweep from bottom-left to bottom-right
  src/layouts/Layout.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Code review fixes: DRY refactor, security, and accessibility
  src/components/astro/Nav.astro
  src/components/astro/Repo.astro
  src/components/svelte/ThemeToggle.svelte
  src/layouts/Layout.astro
  src/pages/index.astro
  src/utils/theme.ts
Due: oxfmt, oxlint

Add security and accessibility improvements
  src/components/astro/Nav.astro
  src/components/astro/Repo.astro
  src/components/svelte/ThemeToggle.svelte
  src/pages/index.astro
Due: oxlint

Add security and accessibility improvements (#164)
  src/components/astro/Nav.astro
  src/components/astro/Repo.astro
  src/components/svelte/ThemeToggle.svelte
  src/pages/index.astro
Due: oxlint
